* {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --huisstijlkleur: #365b8f;
}


body {
  background-color: white;
  margin: 0px 0px 0px 0px;
}

.exact-status.status-online {
  padding-bottom: 10px;
  vertical-align: middle;
}

.buttons-homepage i {
  animation: spin 4s linear infinite;
}



.top-right {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: right;
  padding: 0px 50px;
}

.company {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  color: #585f67;
}

.profile {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--huisstijlkleur);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  color: white;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 70px;
  border-radius: 10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: #e9eaec 1px solid;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  border-radius: 10px;
}

.profile:hover .dropdown-content {
  display: block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* .buttons-homepage .loading {
  background: #727c7e;
} */

/* .buttons-homepage i {
  position: absolute;
  top: 23px;
  right: 16px;
  color: white;
  opacity: 0.4;
} */

.exact-status.status-online span {
  color: green;
}

.exact-status.status-offline span {
  color: red;
}

.exact-status i {
  font-size: 24px;
  vertical-align: middle;
  margin-left: 4px;
  font-weight: bold;
  margin-top: -2px;
}

.exact-status {
  margin-bottom: 0px;
}

fieldset {
  border: none;
  padding: 0px;
  margin: 0px;
  /* padding-bottom: 50px; */
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  align-items: center;
}

.search,
.search-opboeken {
  background: #fffcdf;
  padding: 20px;
  border-radius: 10px;
}

.search i.fa-solid.fa-arrows-rotate,
.search-opboeken i.fa-solid.fa-arrows-rotate {
  font-size: 26px;
  color: black;
  margin-top: 12px;
  margin-left: -38px;
}

.history {
  position: absolute;
  top: 0px;
  right: 10px;
}

.history a {
  color: grey;
}

.logo img {
  /* width: 175px !important; */
  /* object-fit: contain !important; */
}

span#foutmelding,
span#foutmelding-twee {
  color: red;
  font-size: 14px;
}

.chosen-results-wrapper {
  /* margin: -22px 0px 0px 0px !important; */
}

.search input {
  /* border-radius: 6px 6px 0px 0px; */
}

h2 {
  margin: 0px;
  padding: 0px;
  /* color: #727c7e; */
  /* text-decoration: underline; */
  /* margin-top: -50px; */
  text-align: center;
  margin-top: -5px;
  font-size: 20px;
}

.search input {
  font-style: italic;
}

fieldset label,
form label {
  width: 100%;
  display: block;
  font-size: 18px;
  color: #838383;
}

form p {
  font-size: 20px;
  width: 100%;
}

div.wrapper-top {
  margin: 0 auto;
  max-width: 100%;
  width: 100% !important;
  padding: 0;
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  flex-direction: row;
  /* box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2); */
  border-bottom: 1px solid #e9eaec;
  z-index: 2;
  position: fixed;
  top: 0;
  justify-content: space-between;
}



.logo-wrapper {
  text-align: center;
  padding: 50px 0px;
}



fieldset#mijzelf_form h2 {
  margin-top: -20px;
}

.wrapper-bedankt p {
  font-size: 20px;
}

.buttons-homepage a {
  text-align: left;
  color: #c2c7cc !important;
  font-size: 14px !important;
  text-decoration: none !important;
  padding: 15px 8px !important;
  display: block;
  border-left: 5px solid transparent;
  margin: 0 !important;
  width: 190px !important;
  padding: 0;
  background: transparent !important;
  border-radius: 0 !important;
}

.buttons-homepage a:hover {
  background: #131a21;
  color: white !important;
  border-left: 5px solid var(--huisstijlkleur);
}

.buttons-homepage {
  width: 225px;
  min-height: 100vh;
  background-color: #222930;
  padding: 4vh 0;
  display: flex;
  flex-direction: column;
  margin-top: 100px;

}

.mid-right {
  width: 100%;
  margin-top: 100px;
  padding: 20px;
  background-color: #fafafa;
}

.mid-contianer {
  display: flex;
  flex-direction: row;
}

/* .buttons-homepage a:nth-of-type(2) {
   background: #ed6e27; 
} */

div#wrapper {
  width: 100% !important;
}

.buttons-homepage i {
  animation: none !important;
}


div#wrapper h1 {
  margin-top: -5px;
  font-size: 20px;
}

div#wrapper .logs-container h1,
.barcode-wrapper h2 {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;


}

.logs-container table {
  background: white;
}


.loading.active {
  background-color: #131a21;
  color: white !important;
  border-left: var(--huisstijlkleur) 5px solid !important;
  box-sizing: border-box;
}

.logo a {
  vertical-align: middle;
}

.logo i {
  font-size: 28px;
  margin-left: 10px;
  margin-top: 10px;
}



.exact-wrapper {
  /* width: 500px; */
  margin: 0 auto;
  /* position: relative; */
  display: none;
}

.exact-wrapper {
  /* position: absolute; */
  text-align: center;
  margin: 0 auto;
  /* left: calc(50% - 25px); */
  bottom: 25px;
  text-align: center;
  width: 100%;
  padding-bottom: 40px;
}

.exact-wrapper img {
  max-width: 35px;
  bottom: 0px;
}

.buttons-homepage-refresh {
  width: 336px;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}

.buttons-homepage-refresh a {
  text-decoration: none;
  color: white;
  background: #ed6e27;
  padding: 8px 12px;
  margin-top: 0px;
  display: inline-block;
  border-radius: 6px;
  border: 0px;
}



.profile-main-loader {
  left: 50% !important;
  margin-left: -100px;
  position: fixed !important;
  top: 50% !important;
  margin-top: -100px;
  width: 45px;
  z-index: 9000 !important;
}

.profile-main-loader .loader {
  position: relative;
  margin: 0px auto;
  width: 200px;
  height: 200px;
}

.profile-main-loader .loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular-loader {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
}

.loader-path {
  stroke-dasharray: 150, 200;
  stroke-dashoffset: -10;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}

@-webkit-keyframes color {
  0% {
    stroke: #70c542;
  }

  40% {
    stroke: #70c542;
  }

  66% {
    stroke: #70c542;
  }

  80%,
  90% {
    stroke: #70c542;
  }
}

@keyframes color {
  0% {
    stroke: #70c542;
  }

  40% {
    stroke: #70c542;
  }

  66% {
    stroke: #70c542;
  }

  80%,
  90% {
    stroke: #70c542;
  }
}



.loading-wrapper.inactive {
  display: none !important;
  visibility: hidden !important;
}

.loading-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  z-index: 9999;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-cntent i {
  font-size: 48px;
  color: #333;
  animation: spinloading 2s linear infinite;
}

@keyframes spinloading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}







.loader {
  border: 20px solid #f3f3f3;
  border-top: 20px solid #a8cc54;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.loading i {
  animation: none;
  margin-right: 10px;
}

.arrow-container {
  display: none !important;
}

#drop {
  background: #f3f3f3;
  border: 1px solid #e9eaec;
  border-radius: 4px;
  box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, .1);
  color: #464c53;
  display: inline-block;
  font-size: 14px !important;
  height: 34px;
  line-height: 16px;
  max-width: 290px;
  padding: 8px 26px 8px 10px;
  margin-top: -5px;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}




/* @media screen and (max-width: 1023px) {
  .buttons-homepage a {
    width: 100%;
     padding: 20px; 
     background: #7dbda2; 
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  .buttons-homepage {
    padding: 20px;
  }
} */

#logo {
  display: none;
}

.buttons-homepage-responsive {
  display: none;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.progress-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #f3f3f3;
  height: 10px;
}

.progress-bar {
  height: 100%;
  width: 0%;
  background: #4caf50;
  transition: width 0.1s ease-out;
}

.wrapper-all .standerd-btn {
  background-color: var(--huisstijlkleur);
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  width: 100px;
  font-weight: bold;
}

.wrapper-all .standerd-input {
  background: #f3f3f3;
  background-color: rgb(243, 243, 243);
  background-color: rgb(243, 243, 243);
  border: 1px solid #e9eaec;
  border-radius: 4px;
  box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, .1);
  color: #464c53;
  display: inline-block;
  font-size: 14px !important;
  height: 43px;
  line-height: 16px;
  max-width: 300px;
  padding: 8px 26px 8px 10px;
  min-width: auto;
}

.wrapper-all .standard-table {
  border-collapse: collapse;
  width: 100%;
}

.wrapper-all .standard-th,
.wrapper-all .standard-td {
  border: 1px solid #dddddd !important;
  text-align: left;
  padding: 8px;
}

.wrapper-all .standard-th {
  background-color: #f2f2f2;
}

.wrapper-all {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wrapper-all .standard-h1 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
}

.wrapper-all .standard-h2 {
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  color: black;
  text-decoration: none;
  text-align: start;
}

.wrapper-all .standard-h3 {
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  color: black;
  text-decoration: none;
  text-align: start;
}

.wrapper-all .standard-p {
  font-size: 14px;
  line-height: 1;
  color: black;
  text-decoration: none;
  text-align: start;
}

.wrapper-all .standerd-select {
  background: #f3f3f3;
  background-color: rgb(243, 243, 243);
  border: 1px solid #e9eaec;
  border-radius: 4px;
  box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, .1);
  color: #464c53;
  display: inline-block;
  font-size: 14px !important;
  height: 43px;
  line-height: 16px;
  max-width: 300px;
  padding: 8px 26px 8px 10px;
  min-width: 200px;
}

.standerd-radio,
.standerd-checkbox {
  margin-right: 10px;
  width: 15px !important;
  height: 15px !important;
  min-width: 15px !important;
}

.date-header {
  display: flex;
}

.date-header label {
  margin-right: 1em;
}


@media screen and (max-width: 1023px) {
  .wrapper-top {
    display: none !important;
  }

  .buttons-homepage-responsive {
    display: block;
  }

  .buttons-homepage-responsive a {
    width: 85% !important;
  }



  .buttons-homepage {
    display: none;
  }

  .mid-right {
    max-width: 500px;
    margin-top: 0px;
    padding: 20px;
  }

  .mid-right {
    background-color: white;
  }

  .arrow-container {
    display: block !important;
  }

  .title-container {
    display: block;
  }

  #drop {
    background: none;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    color: black;
    display: inline-block;
    font-size: 14px !important;
    height: 34px;
    line-height: 0px;
    max-width: 290px;
    padding: 0px;
    margin-top: 0;
  }

  .fixed-header {
    background-color: #fff;
  }

  .mid-right {
    padding: 0px;
  }

  #inner-wrapper {
    max-width: 500px;
  }

  .main-title h1 {
    font-size: 24px !important;
    font-weight: 600 !important;
    margin: 0 !important;
  }

  .fixed-header {
    position: sticky;
    top: 0;
    background-color: white;
    padding: 10px 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
  }

  .title-container {
    padding: 0;
  }


  #logo {
    display: block;
  }

  .order-details {
    margin-top: 0px;
  }

  .picklijst-name {
    padding: 0px;

  }

  .title-container {
    width: auto;
  }

  .order-details.order-details-item {
    background: #f0f0f0;
  }

  .order-details {

    margin-top: 0px;
  }

  .picklijst-name {
    margin-bottom: 0px;
  }

  .alles-gepickt-wrapper,
  .picked-info-wrapper,
  .item-info-wrapper,
  .scan-code-wrapper {
    padding: 0px !important;
  }
}